AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

# Datos del Data Warehouse EXTERNO
DW_HOST=
DW_PORT=
DW_DB_NAME=
DW_USER=
DW_PASSWORD=